.footer {
  min-height: 40vh;
  padding: 30px;
}

.bottomSection {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.contactChild,
.logoChild,
.socialsChild {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1rem;
  width: 360px;
  font-size: 18px;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.logoChild {
  order: 3;
  flex-grow: 1;
  margin-left: 2rem;
  margin-right: 2rem;
}

.socialsChild {
  order: 2;
}

@media (min-width: 768px) {
  .bottomSection {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    align-items: stretch;
    justify-content: space-around;
  }

  .socialsChild .contactChild {
    max-width: 65%;
  }
}

@media (min-width: 1024px) {
  .bottomSection {
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .logoChild {
    order: 2;
    flex-grow: unset;
    width: fit-content;
  }

  .socialsChild {
    order: 3;

    width: 360px;
  }
  .contactChild {
    width: 360px;
  }
}
