.bottomSection {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}

.gridColumn,
.logoChild,
.socialsChild {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1rem;
  max-width: 360px;
  font-size: 18px;
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.logoChild {
  order: 3;
  flex-grow: 1;
  min-width: 100%;
}

.socialsChild {
  order: 2;
}

@media (min-width: 768px) {
  .bottomSection {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
  }
}

@media (min-width: 1027px) {
  .bottomSection {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .logoChild {
    order: 2;
    min-width: 1%;
  }

  .socialsChild {
    order: 3;
  }
}
