:root {
  --small: '640px';
  --medium: '768px';
  --large: '1024px';
  --xlarge: '1280px';
  --xxlarge: '1536px';
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0; 
}

h1 {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
  font-size: 40px;
}

p { 
  font-family: Verdana, Geneva, sans-serif; 
  font-size: 18px; 
  font-style: light; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 32px; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
