.header {
    position: relative;
    width: 100vw;
    min-height: 40vh; 
    display: flex;
    flex-direction: column;
    /* padding: 6rem 8rem; */
    justify-content: center;
    flex-wrap: wrap; 
    background-size: cover;
    background-position: center;
  }

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1500px; */
}

.navbar img {
    padding: 8px;
}

.navbar a {
    margin: 8px;
}

.primaryNavigation {
    color: white;
    display: flex;
    padding:0px 24px;
    margin:0px;
}

.primaryNavigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif; font-size: 16px; font-style: bold; font-variant: bold; font-weight: 400; line-height: 23px;
}

/* .primaryNavigation li {
    list-style-type: none;
    float: left;
}

.primaryNavigation ul {
    margin:0px;
} */

.imageWrapper {
z-index: -1;
}

.heroContent {
display: flex;
flex-direction: column;
align-self: flex-start;
width: 50%;

height: fit-content;
border: 3px solid black;
color: white;
}

.heroContentOld {
position: relative;
display: flex;
flex-direction: column;
align-items: center;

top: 20%;
left: 30%;

transform: translate(-50%, -50%);
color: white;
}



